/*------------------------------------
 *   CUSTOM FONTS
 *------------------------------------*/

@font-face {
    font-family: 'HK Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/HKGrotesk-Regular.woff2?v=1769290074') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/HKGrotesk-Regular.woff?v=1769290074') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'American Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AmericanGroteskCompressed-Heavy.woff2?v=1769290074') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AmericanGroteskCompressed-Heavy.woff?v=1769290074') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/HKGrotesk-Medium.woff2?v=1769290074') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/HKGrotesk-Medium.woff?v=1769290074') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Awesome Serif';
    src: url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AwesomeSerif-Regular.woff2?v=1769290074') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AwesomeSerif-Regular.woff?v=1769290074') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Awesome Serif Italic VAR';
    src: url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AwesomeSerifItalicVAR-Light.woff2?v=1769290074') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AwesomeSerifItalicVAR-Light.woff?v=1769290074') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}


/*------------------------------------
 *   TYPOGRAPHY OVERIDES
 *------------------------------------*/
:root {
    --FONT-STACK-HEADING: 'American Grotesk' !important;
    --FONT-STACK-BODY: 'HK Grotesk' !important;
    --BTN-FONT-STACK: 'American Grotesk' !important;
    --BTN-LETTER-SPACING: 0 !important;
    --btn-bg-hover: #FEEC5E;
}


/* Layout & Typography overrides */
html, body {
    font-family: 'HK Grotesk', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
    color: var(--COLOR-TEXT, #111111) !important;
    background-color: var(--COLOR-BG, #f7f3ee) !important;
}

/* Headings */
h1, h2, h3, h4, h5 {
    font-family: 'American Grotesk', 'HK Grotesk', system-ui, sans-serif !important;
}

p {
    line-height: 1.4 !important;
}

/*------------------------------------
 *   GLOBAL STYLES
 *------------------------------------*/

 .btn {
    padding: .55rem 2.5rem !important;
 }

.product__submit__buttons {
    .btn__text, .btn__price {
        font-family: 'HK Grotesk' !important;
    }
}

.accordion-group__items {

    .accordion {
        border-bottom: 1px solid #221F1F;
        border-top: 0 !important;
    }

}

/*------------------------------------
 *   HERO
 *------------------------------------*/
.page-announcement p {
    font-family: 'HK Grotesk' !important;
    text-transform: none !important;
}

.index-hero {
    .hero__title {
    font-family: 'Awesome Serif' !important;
    text-transform: none;
    max-width: 400px;
}
}




/*------------------------------------
 *   MARQUEE
 *------------------------------------*/


.announcement__slide p {
    font-family: 'American Grotesk';
    text-transform: uppercase;
}

/*------------------------------------
 *   PRODUCT FEATURE HOME
 *------------------------------------*/


/* Small visual reset for product bricks */
.product-feature__home .brick__section {
    border-top: 1px solid var(--text) !important;
    border-bottom: 1px solid var(--text) !important;
}


/*------------------------------------
 *   WHATS INSIDE
 *------------------------------------*/

 .multicolumn .column__heading {
    font-family: 'HK Grotesk' !important;
    text-transform: none;
 }

 @media (max-width: 749px) {
    .section-columns {
        .grid__heading {
            margin-bottom: 3rem;
        }

        .grid--mobile-vertical {
            gap: 3rem !important;
        }

             .column__content {
    width: 85%;
    margin: auto;
}
    }
 }





 /*------------------------------------
 *   TESTIMONIALS
 *------------------------------------*/



 .reviews__grid .review__quote-inner{
    font-family: 'HK Grotesk' !important;
    font-weight: bold !important;
    font-size: 2.125rem !important;
 }

 .reviews__grid p {
    font-family: 'HK Grotesk' !important;
 }


     .reviews__grid .heading-small {
    font-size: var(--font-heading-x-small);
}
 

 .reviews__grid .review__author__subheading {
    letter-spacing: 0 !important;
 }

 /*------------------------------------
 *   FAQ
 *------------------------------------*/

 .accordion__heading {
    text-align: center !important;
 }

 .accordion__title {
    font-family: 'HK Grotesk' !important;
    font-weight: 600 !important;
    text-transform: none !important;
 }

 @media only screen and (min-width: 750px) {
    .accordion-group__items {
        grid-template-columns: repeat(var(--accordion-columns, 1), minmax(0, 1fr));
        max-width: 65%;
        margin: auto;
    }
}

 /*------------------------------------
 *   PRODCUT HERO
 *------------------------------------*/


.product-hero-section__container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    min-height: 75vh !important;
}

 /*------------------------------------
 *   SOCIAL
 *------------------------------------*/


@media (max-width:749px) {
    .section-social-videos {
        p {
            margin-bottom: 3rem;
        }

        a::after {
            display: none !important;
        }

        .grid__heading {
            width: 75%;
            margin: auto;
            line-height: 1.1;
        }

    }
}

    .section-social-videos {
      

        a::after {
            display: none !important;
        }



    }

 /*------------------------------------
 *   MERCH ALERT
 *------------------------------------*/
@media (min-width: 750px) {
    .merch-alert {
        border-top: 1px solid #221F1F;
    }
}


 /*------------------------------------
 *   ABOUT
 *------------------------------------*/

 .about-section .brick__block__text {
    padding: 0 !important;
 }

 /*------------------------------------
 *   PRODUCT TEMPLATE
 *------------------------------------*/


 .template-product {

     .template-product .product__description__content {
        margin-bottom: 2rem;
    }

 }

 .related__wrapper {
    .tab-link {
        font-family: 'HK Grotesk' !important;
    }

    .grid-item, .product-information {
        border: 1px solid #221F1F;
    }
 }

 .collection__products {
    border-bottom: 1px solid #221F1F;
 }

 /*------------------------------------
 *  KLAYVIO
 *------------------------------------*/

 footer {
    .container {
        padding: var(--gutter) var(--outer);
    }
    .footer-custom__bottom {
        justify-content: center !important;
        padding-bottom: 2rem !important;
    }

    .klaviyo-form {
        .needsclick {
            min-height: 0 !important;
            padding: 0 !important;
        }

        input {
            border-top: 0 !important;
            border-right: 0 !important;
            border-left: 0 !important;
            border-bottom: 1px solid #221F1F;
        }

        button {
            border-bottom: 1px solid #221F1F !important;
            text-align: right !important;
        }
    }

    .footer-custom__menu {
        list-style: none !important;
        margin: 0 !important;
    }


 }

  /*------------------------------------
 *   TIMELINE
 *------------------------------------*/

 @media (max-width:749px) {
    .timeline__inner {
        padding-top: 7rem;
        padding-bottom: 3rem;
    }

    .static-timeline__image-side {
        min-height:50vh !important;
    }

    .timeline__row {
        margin-left: var(--gap);
        margin-right: 0 !important;
        padding-right: var(--gap);
    }

    .luna-templates-animated-sticker .stckrimg img {
        transform: rotate(-5deg) !important;
    }
 }

 @media (min-width:750px) {
    .static-timeline__item {
        margin-bottom: 0 !important;
    }

    .static-timeline__line {
        margin-top: 0 !important;
        width: 1px !important;
        opacity: 1 !important;
    }
 }

   /*------------------------------------
 *   NEWSLETTER
 *------------------------------------*/
@media (min-width: 749px) {
     .index-newsletter {
    .newsletter__wrapper {
        width: 50% !important;
        margin: auto !important;
    }
}
}

 .index-newsletter {


    .klaviyo-form {
        input {
            border-top: 0 !important;
            border-right: 0 !important;
            border-left: 0 !important;
            padding-left: 0 !important;
        }

        .needsclick {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
 }



 .shopify-pc__banner__dialog {
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 1px solid #221F1F !important;
 }

 .shopify-pc__banner__btn-accept, .shopify-pc__banner__btn-decline {
    border: 0 !important;
    border-radius: 50px !important;
    font-family: 'American Grotesk' !important; 
    text-transform: uppercase;
 }

