/*------------------------------------
 *   CUSTOM FONTS
 *------------------------------------*/

@font-face {
    font-family: 'HK Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/HKGrotesk-Regular.woff2?v=1769290074') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/HKGrotesk-Regular.woff?v=1769290074') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'American Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AmericanGroteskCompressed-Heavy.woff2?v=1769290074') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AmericanGroteskCompressed-Heavy.woff?v=1769290074') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/HKGrotesk-Medium.woff2?v=1769290074') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/HKGrotesk-Medium.woff?v=1769290074') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Awesome Serif';
    src: url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AwesomeSerif-Regular.woff2?v=1769290074') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AwesomeSerif-Regular.woff?v=1769290074') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Awesome Serif Italic VAR';
    src: url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AwesomeSerifItalicVAR-Light.woff2?v=1769290074') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0948/1171/7975/files/AwesomeSerifItalicVAR-Light.woff?v=1769290074') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}


/*------------------------------------
 *   TYPOGRAPHY OVERIDES
 *------------------------------------*/
:root {
    --FONT-STACK-HEADING: 'American Grotesk' !important;
    --FONT-STACK-BODY: 'HK Grotesk' !important;
    --BTN-FONT-STACK: 'American Grotesk' !important;
    --BTN-LETTER-SPACING: 0 !important;
}


/* Layout & Typography overrides */
html, body {
    font-family: 'HK Grotesk', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
    color: var(--COLOR-TEXT, #111111) !important;
    background-color: var(--COLOR-BG, #f7f3ee) !important;
}

/* Headings */
h1, h2, h3, h4, h5 {
    font-family: 'American Grotesk', 'HK Grotesk', system-ui, sans-serif !important;
}



/*------------------------------------
 *   MARQUEE
 *------------------------------------*/


.announcement__slide p {
    font-family: 'American Grotesk';
    text-transform: uppercase;
}

/*------------------------------------
 *   PRODUCT FEATURE HOME
 *------------------------------------*/


/* Small visual reset for product bricks */
.product-feature__home .brick__section {
    border-top: 1px solid var(--text) !important;
    border-bottom: 1px solid var(--text) !important;
}

/*------------------------------------
 *   WHATS INSIDE
 *------------------------------------*/

 .multicolumn .column__heading {
    font-family: 'HK Grotesk' !important;
    text-transform: none;
 }

 /*------------------------------------
 *   TESTIMONIALS
 *------------------------------------*/



 .reviews__grid .review__quote-inner{
    font-family: 'HK Grotesk' !important;
    font-weight: bold !important;
    font-size: 2.125rem !important;
 }

 .reviews__grid p {
    font-family: 'HK Grotesk' !important;
    font-weight: bold !important;
 }

 .reviews__grid .review__author__subheading {
    letter-spacing: 0 !important;
 }

 /*------------------------------------
 *   FAQ
 *------------------------------------*/

 .accordion__heading {
    text-align: center !important;
 }

 .accordion__title {
    font-family: 'HK Grotesk' !important;
    font-weight: 600 !important;
    text-transform: none !important;
 }

 @media only screen and (min-width: 750px) {
    .accordion-group__items {
        grid-template-columns: repeat(var(--accordion-columns, 1), minmax(0, 1fr));
        max-width: 55%;
        margin: auto;
    }
}


.product-hero-section__container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    min-height: 75vh !important;
}